.navbar{
    background: rgb(13,180,214);
    background: linear-gradient(33deg, rgba(13,180,214,1) 20%, rgba(44,159,219,1) 50%, rgba(37,39,163,1) 80%); 
    box-shadow: 2px 2px 5px #999;

}
.nav-link{
    color: #5f5f5f;
    font-weight: bold;    
    font-size: 22px;
}
.nav-link:hover{
    color: #fff
}
.logo{
    margin-top: 10px;
}
